@tailwind utilities;

html {
  font-feature-settings: "rlig" 1, "calt" 1, "ss01" 1, "ss06" 1 !important;
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

.dark .invert-on-dark {
  filter: invert(1) brightness(1.8);
}

body {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 300px
    ),
    fixed 0 0 / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#d1d1d1 1px, transparent 0);
}

.dark body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #111 300px),
    fixed 0 0 / 20px 20px radial-gradient(#313131 1px, transparent 0),
    fixed 10px 10px / 20px 20px radial-gradient(#313131 1px, transparent 0);
}

.no-border {
  border-bottom: none;
}

.um-icons-inline{
  display:inline;
  margin-left:2px;
  margin-right:2px;
}

 .nextra-container .nextra-sidebar ul.nextra-sidebar-list li.active>a, 
 .nextra-container .nextra-sidebar ul.nextra-sidebar-list li.active>a:hover{
  color:#6366f1 !important
}

/**Doc Search **/
.docsearch .DocSearch-Button {
  align-items: center;
  
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 50px;
  justify-content: space-between;
  user-select: none;
  width: 95%;
  margin: 0px;
background: transparent;
border: 1px solid #d8c0ec;
}

.docsearch .DocSearch-Button:hover{
  background: transparent;
}

.docsearch .DocSearch-Button-Placeholder:after{
  content: " for guides, modules, themes, tutorials and more..."
}

@media (max-width: 768px){

  .docsearch .DocSearch-Button-Keys, .docsearch .DocSearch-Button-Placeholder {
      display: block !important;
  }

  .docsearch .DocSearch-Button-Placeholder:after{
    content: " docs..."
  }
}

/**
 * Rehype
 */
 code[data-line-numbers]>.line:before{
    width: 2rem !important;
    margin-right: .5rem !important;
 }

/**
 * Single page
 */
 .um-single-page h2{
    margin-top: 0px !important;
    font-size: 20px !important;
    margin-bottom: 10px !important;
    padding-bottom: 5px !important;
 }
 .um-single-page {
   border: 1px solid #2b2a2b !important
 }

 .um-single-page .dark .dark\:text-gray-300 {
 
  color: rgba(203, 203, 203, 1) !important;
  }