
<div className="phpdocumentor-element-found-in">
    <Link href="{{ link(node.file)|replace({"../":"/developer/"})|replace({".html":""}) }}#source-view.{{ node.line }}">{{ node.file.path|raw|replace({'ultimatemember/': ''}) }}</Link> : <span className="phpdocumentor-element-found-in__line">{{ node.line }}</span>
</div>
