
<div class="phpdocumentor-element-found-in">
    <Link href="{{ link(node.file) }}#source-view.{{ node.line }}">{{ node.file.path|raw|replace({'woocommerce/': ''}) }}</Link> : <span class="phpdocumentor-element-found-in__line">{{ node.line }}</span>
</div>
