{% if node.functions is not empty %}
<section className="phpdocumentor-functions">
### Functions
{% for function in node.functions %}
{% include 'components/function.html.twig' %}
{% endfor %}
</section>
{% endif %}
