{% set methods = methods(node)|sortByVisibility %}
{% if methods is not empty %}
    <section className="phpdocumentor-methods">
        <h3 className="phpdocumentor-elements__header" id="methods">
            Methods
            <a href="#methods" className="headerlink"><i className="fas fa-link"></i></a>
        </h3>
        {% for method in methods %}
            {% include 'components/method.html.twig' %}
        {% endfor %}
    </section>
{% endif %}
