{% set tags = tags|filter((v,k) => k not in ['var', 'param', 'property', 'property-read', 'property-write', 'method', 'return', 'package', 'api']) %}

{% if tags|length > 0 %}
    ##### Tags
     
    <div className="phpdocumentor-tag-list">
        {% for name,seriesOfTag in tags %}
            {% for tag in seriesOfTag %}
               
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
