@import 'prismjs/themes/okaidia.css';

.home .hero {
    min-height: 300px;
    padding-top:50px
}
.home .hero .description{
    max-width: 80% !important;
}

.page {
    padding-left: 0px
}

.code-group__nav-tab {
    padding: 5px 20px 5px 20px;
}

.dark .badge.tip {
    background-color: #55437c;
    color: white;
    font-weight: normal;
}

.badge.tip {
    background-color: #cdcdcd;
    color: rgb(94, 83, 83);
    font-weight: normal;
}

h2[id^="um-stripe"] .badge.tip,
h2[id^="umm-stripe"] .badge.tip {
    float: right;
    margin-top: 10px;
   
}

html:not(.dark) blockquote{
    color: #424141;
    border-left-color: #7856ff
}

html.dark body ul strong {
    color: #c3bfc3
}