@import 'prismjs/themes/okaidia.css';

.home .hero {
    min-height: 300px;
    padding-top:50px
}
.home .hero .description{
    max-width: 80% !important;
}

.navbar-items .navbar-item:last-child {
    display: none;
}